@model CoffeeShop.Models.Users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @Html.Partial("NavigationBar")
    <h1 style="text-align: center;">Admin Panel</h1>
    <center>
        <p>Logged in as: @Model.FirstName @Model.LastName</p>
    </center>
</body>
</html>
