
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coffe Shop</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome To Einstein Coffee shop!</h1>
    <table style="border-collapse: collapse; width: 100%;" border="1">
        <tbody>
            <tr>
                <td style="width: 33.3333%; text-align: center;"><a href="~/Home/Login">Login</a></td>
                <td style="width: 33.3333%; text-align: center;"><a href="~/Home/Register">Register</a></td>
                <td style="width: 33.3333%; text-align: center;"><a href="~/Home/OrderStep1">Place an Order</a></td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
</body>
</html>
