
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome To Einstein Kaffee</title>
</head>
<body>
    @Html.Partial("NavigationBar")
    <img src="~/Content/Images/main_logo.svg" />
    <p>&nbsp;</p>
</body>
</html>
