
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Coffe Shop</title>
</head>
<body>
    @Html.Partial("NavigationBar")
    <h1 style="text-align: center;">Welcome To Einstein Coffee shop!</h1>
    <p>&nbsp;</p>
</body>
</html>
